version: "3.9"
services:
  frontend:
    platform: "linux/amd64"
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_CLIENTVAR: "clientvar"
    working_dir: /app
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=file:/app/data/prod.db
    image: sts
    volumes:
      - sqlite-data:/app/data

volumes:
  sqlite-data:
